/* Mixins*/

/* Extend*/

%inputs {
  input,
  select {
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    &:focus {
      background-color: $green;
    }
  }
}
