/*Generic elements*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography*/

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  color: $light-slate;
  background-size: 100vw 130vh;
  background-image: $selection2;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: "Courgette";
  font-size: 4.8rem;
}

span {
  color: $green;
  text-shadow: 0 0 15px pink;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 1rem;
}
