/*Generic elements*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography*/

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-image: linear-gradient(
    to top,
    #dbdcd7 0%,
    #dddcd7 24%,
    #e2c9cc 30%,
    #e7627d 46%,
    #b8235a 59%,
    #801357 71%,
    #3d1635 84%,
    #1c1a27 100%
  );

  color: $light-slate;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: "Courgette";
  font-size: 3.6rem;
  span {
    text-decoration: underline;
    font-style: italic;
    color: $green;
    text-shadow: 0 0 5px $light-navy;
  }
}
