::placeholder {
  font-size: 1.1rem;

  font-family: "Courgette";
  padding-left: 1rem;
  color: $light-slate;
}

.container {
  min-width: 1200px;
  position: relative;
}

.banner {
  padding: 1.3rem 0;
  background-color: $lightest-navy;
  background-size: cover;
}

.banner {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 3s, opacity 0.1s linear;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
}

.main .tool,
.main .tilesContainer {
  grid-row-start: 1;
  grid-column-start: 1;
}

.tilesContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
  align-content: center;
  justify-items: center;
}

.tile-big {
  background-color: white;
  border-radius: 50px;
  color: black;
  font-family: "Courgette";
  font-size: 3rem;
  margin: 2rem;
  opacity: 0.2;
  padding: 3rem;
  height: 750px;
  width: 650px;
}

.tile-small {
  background-color: white;
  border-radius: 50px;
  color: black;
  font-family: "Courgette";
  font-size: 3rem;
  margin: 2rem;
  opacity: 0.2;
  padding: 3rem;
  height: 350px;
  width: 650px;
}

/*
&-serif {
  font-family: "Times New Roman", Times, serif;
}

&-mono {
  font-family: monospace;
}
&-sansSerif {
  font-family: "Courgette";
}*/
