::placeholder {
  font-size: 1.1rem;
  padding-left: 1rem;
  color: $light-slate;
}

.container {
  min-width: 360px;
  position: relative;
}

.banner,
.footer {
  padding: 2rem 0;
  background-color: $lightest-navy;
}

.banner {
  display: flex;
  flex-flow: row wrap;
}

.footer {
  padding: 0.5rem 0;
  text-align: center;
  font: 1.2rem sans-serif;
  line-height: 0.5;
  width: 100%;
  position: absolute;
  bottom: 0;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $lightest-slate;
    text-decoration: none;
  }
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 3s, opacity 0.1s linear;
}

.main {
  display: grid;
  grid-template-columns: 100%;
}

.main .tool,
.main .tilesContainer {
  grid-row-start: 1;
  grid-column-start: 1;
}

.tilesContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
  align-content: center;
  justify-items: center;
}

.tile {
  background-color: white;
  border-radius: 50px;
  color: black;
  font-family: "Courgette";
  font-size: 3rem;
  height: 350px;
  margin: 2rem;
  opacity: 0.2;
  padding: 3rem;
  width: 700px;
}

/*Responsive elements and classes*/

@media screen and(min-width:480px) {
  h1 {
    font-size: 3.6rem;
  }
}
@media screen and(min-width:768px) {
  h1 {
    font-size: 4.6rem;
  }
}

@media screen and(min-width:375px) {
  .tool__content {
    font-size: 1.8rem;
  }
}
