.btn {
  outline: none;
  border: none;
  box-sizing: none;

  background-color: $navy-shadow;
  color: white;
  &:hover {
    background-color: $green;
    color: $dark-navy;
    text-shadow: 0 0 1px black;
  }
  &-grad {
    background-image: linear-gradient(
      to right,
      #02aab0 0%,
      #00cdac 51%,
      #02aab0 100%
    );
  }
  &-grad {
    margin: 10px;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 10px #eee;

    display: block;
    &:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
  }

  &-grad-secondary {
    background-image: linear-gradient(
      to right,
      #141e30 0%,
      $light-navy 51%,
      #141e30 100%
    );
  }
  &-grad-secondary {
    margin: 10px;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    text-align: center;

    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 25px;
    display: block;

    &:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
  }
}

.groupBtn {
  display: flex;
  margin-top: 2rem;
}
