.tool {
  z-index: 999;
  background-color: $light-slate;
  border-radius: 25px;
  box-shadow: 0 0 8px $green;
  margin: 3rem;
  display: inline-block;
}

@media screen and(min-width:410px) {
  .tool {
    margin: 5rem;
  }
}
@media screen and(min-width:768px) {
  .tool {
    margin: 5rem 16rem;
  }+, 
}

.tool__content {
  color: $lightest-navy;
  font-family: "Open Sans";

  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  line-height: 1.2;

  p {
    margin: 0.5rem auto;
  }
}

.tool__screens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  .tool__selection {
    width: 6rem;
    height: 6rem;
    border: none;
    border-radius: 25px;
    &:hover {
      transform: scale(1.05);
      border: 2px solid $green;
    }
  }

  .select1 {
    background-image: $selection1;
  }

  .select2 {
    background-image: $selection2;
  }

  .select3 {
    background-image: $selection3;
  }

  .select4 {
    background-image: $selection4;
  }

  .select5 {
    background-image: $selection5;
  }
  .select6 {
    background-image: $selection6;
  }
  @media screen and(min-width:410px) {
    .tool__selection {
      width: 8rem;
      height: 8rem;
    }
  }
  @media screen and(min-width:769px) {
    .tool__selection {
      width: 12rem;
      height: 12rem;
    }
  }
}

.tool__tiles {
  .tool__input-tiles {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    label {
      font-size: 1.2rem;
      display: none;
      &:focus {
        font-weight: bold;
      }
    }
    input {
      margin-bottom: 1rem;
      border: none;
      outline: none;
      border-radius: 5px;
      &:focus {
        background-color: $green;
      }
    }
  }
}

@media screen and(min-width:460px) {
  .tool__input-tiles {
    label {
      display: initial;
    }
  }
}

.tool__sizes {
  margin: 1rem;
  .tool__radios {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    label {
      font-size: 1.5rem;
      padding: 0 1rem 0 0;
      &:hover {
        color: $green;
        font-weight: bold;
      }
    }
  }
}

@media screen and(min-width:460px) {
  .tool__sizes {
    .tool__radios {
      flex-flow: row;
    }
  }
}

.tool__footer {
  button {
    display: inline-block;
    text-align: center;
  }
}
