.icon {
  &-active {
    color: $green;
  }

  &-disable {
    color: $lightest-slate;
  }

  &-hide {
    visibility: hidden;
  }
}

.wrapper {
  align-items: center;
  margin: 1rem;
  padding: 10px;
  margin-right: 1rem;
  background-color: $green;
  border-radius: 50px;
  border: 1px solid $green;
  position: fixed;
  bottom: 0;
}
