.tool {
  background-color: $light-slate;
  border-radius: 25px;
  box-shadow: 0 0 8px $green;
  margin: 2rem 40rem 3.5rem 40rem;
}

.tool__content {
  color: $lightest-navy;
  font-family: "Open Sans";
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem 1.5rem 5rem;
  line-height: 1.2;

  p {
    margin: 0.5rem auto;
  }
}

.tool__screens {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  li {
    list-style-type: none;
    margin: 1rem;
  }
}

.tool__selection {
  width: 10rem;
  height: 10rem;
  border-radius: 25px;
  &:hover {
    transform: scale(1.05);
    border: 2px solid $green;
  }
}

.select1 {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.select2 {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.select3 {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.select4 {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.select5 {
  background-image: linear-gradient(
    to top,
    #dbdcd7 0%,
    #dddcd7 24%,
    #e2c9cc 30%,
    #e7627d 46%,
    #b8235a 59%,
    #801357 71%,
    #3d1635 84%,
    #1c1a27 100%
  );
}
.select6 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.tool__sizes {
  margin: 1rem;
  .tool__radios {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    label {
      font-size: 1.2rem;
      padding: 0 0.5rem 0 0;
      &:hover {
        color: $green;
        font-weight: bold;
      }
    }
  }
}

.tool__input-tiles {
  display: flex;
  flex-flow: column nowrap;
  input {
    margin-bottom: 0.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    &:focus {
      background-color: $green;
    }
  }

  label {
    font-size: 1.2rem;
    &:focus {
      font-weight: bold;
    }
  }
}

.hide {
  display: none;
}

.tool__preview {
  margin-top: 1rem;
  p {
    font-size: small;
    text-align: center;
    color: $navy-shadow;
  }
  img {
    width: 175px;
    height: 90px;
    opacity: 0.8;
  }
}

.tool___footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}
