/*
? Color palette
*/
/*
?  Global variables 
*/
/* Mixins*/
/*Generic elements*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* typography*/
html {
  font-size: 62.5%;
}

body {
  background: #020c1b;
  color: #a8b2d1;
}

.tool {
  background-color: #a8b2d1;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 8px #62ffda;
          box-shadow: 0 0 8px #62ffda;
  display: inline-block;
}

.tool__content {
  color: #233554;
  font-family: "Open Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 5rem 1.5rem 5rem;
  line-height: 1.2;
}

.tool__content h2 {
  margin: 0 auto;
  font-family: "Courgette";
  font-size: 2.6rem;
}

.tool__content h2 span {
  text-decoration: underline;
  font-style: italic;
  color: #62ffda;
  text-shadow: 0 0 5px #112240;
}

.tool__content p {
  margin: 0.5rem auto;
}

.tool__screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.tool__screens li {
  list-style-type: none;
}

.tool__screens img {
  width: 100px;
  border-radius: 5px;
  margin: 0 1.5rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.tool__screens img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 2px solid #62ffda;
}

.tool__sizes {
  margin: 1rem;
}

.tool__sizes .tool__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tool__sizes .tool__radios label {
  font-size: 1.2rem;
  padding: 0 0.5rem 0 0;
}

.tool__sizes .tool__radios label:hover {
  color: #62ffda;
  font-weight: bold;
}

.tool__input-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.tool__input-tiles input {
  margin-bottom: 0.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.tool__input-tiles input:focus {
  background-color: #62ffda;
}

.tool__input-tiles label {
  font-size: 1.2rem;
}

.tool__input-tiles label:focus {
  font-weight: bold;
}

.hide {
  display: none;
}

.tool__preview {
  margin-top: 2rem;
}

.tool__preview p {
  font-size: small;
  text-align: center;
  color: rgba(2, 12, 27, 0.7);
}

.tool__preview img {
  width: 175px;
  height: 90px;
}

.tool___footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.btn {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  background-color: rgba(2, 12, 27, 0.7);
  color: white;
}

.btn:hover {
  background-color: #62ffda;
  color: #020c1b;
  text-shadow: 0 0 1px black;
}

.btn-generate {
  color: #62ffda;
}

.grey {
  color: #495670;
}

.grey:hover {
  color: #62ffda;
}

.grey-hidden {
  color: #a8b2d1;
}
/*# sourceMappingURL=import.css.map */